/**
 * 左边的 Markdown 看上去很挫，让我们润色一下。
 */

#work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * 好了，准备就绪
 *
 * 3...
 * 2...
 * 1...
 *
 * 惊不惊喜？意不意外？
 *
 */
