/**
 *
 * Hi，我们是360企业安全SNC团队，我们是专门搞技术的。
 * 不信？
 * 现在秀给你看！
 *
 */

/**
 * 先来点动画。
 */

* {
  -webkit-transition: all 1s;
}

/**
 * 白底黑字太单调了，我们换个底色先。
 */

html {
  background: rgb(63, 82, 99);
}

/***
 * 等一下。
 */

pre,
a {
  color: white;
}

/**
 * 现在好点了。
 *
 * 既然要搞技术，还是先要把界面整熟悉点。
 */

pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 44.6%;
  width: 49%;
  font-size: 14px;
  font-family: consolas;
  padding: 10px 10px 20px;
  box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
  white-space: pre-wrap;
  outline: 0;
}

/**
 * 一切就绪，让我们造起来！
 */

#style-text {
  -webkit-transform: translateX(95%);
  position: absolute;
}

/**
 * 还不错吧，不过文字都是白色的太Low了，程序员最爱的主题来了，别眨眼~
 */

.comment {
  color: #857f6b;
  font-style: italic;
}
.selector {
  color: #e69f0f;
}
.selector .key {
  color: #64d5ea;
}
.key {
  color: #64d5ea;
}
.value {
  color: #be84f2;
}
.value.px {
  color: #f92772;
}

/**
 * 再来点透视效果？
 */

body {
  -webkit-perspective: 1000px;
}

#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 94.5%;
}

/**
 * 现在让我们来谈谈我们的招募令，相信你不是来这里看热闹的：）
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
  max-height: 94.5%;
}
